// variables tamaño de fuente
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

// peso de fuentes
$light: 300;
$regular: 400;
$bold: 900;

// tipos de fuente
$roboto: 'Roboto', serif;
$playfair: 'Playfair Display', serif;

// Colores 1er bloque
$white:#fff;
$platinum: #e6e7e7;
$light-gray:#d1d1d1;

// colores 2do bloque
$fuzzy-whuzzy:#e56353;
$rudy-pink: #d76c69;
$spanish-pink:#ecbcba;

// colores 3er blockquote
$erie-black:#121619;
$raisin-black: #222323;
$nickel: #6c6e70;


